name: Main Pipeline

on:
  push:
    branches:
      - main

jobs:
  run-main-commands:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Run main commands
        run: npm run build